* {
	margin: 0;
	padding: 0;
} /* to remove the top and left whitespace */
body {
	background-image: url("../img/crossword.png");
}

html,body {
	width: 100%;
	height: 100%;
} /* just to be sure these are full screen*/
canvas {
	display: block;
} /* To remove the scrollbars */
.fileDialogBar {
	display: none;
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	max-width: 480px;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 10px;
	background-color: #fff;
	border-color: #ddd;
}

.fileDialogBarButton {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity =   0);
}