/* app css stylesheet */
body {
  padding-top: 50px;
}
/*
 * Global add-ons
 */
 .ace_editor { height: 500px; }
 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

 @media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover {
  color: #fff;
  background-color: #428bca;
}

.message-area{
  position: fixed;
  bottom: 0;
  z-index: 1001;
  width: 16%;
}
/*
 * Main content
 */

 .main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

 .placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Application editing panel
 */
 .edit-app-panel{
  border: 1px solid #dddddd;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: none;
  position: relative;
  padding: 15px;
}
.edit-app-arrow{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  left: -22px;
  border-left-width: 0;
  border-right-color: #dddddd;
  border-width: 11px;
}
.edit-app-arrow:after{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  content: " ";
  left: -9px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
  border-width: 10px;
}

.edit-app-list-entry{
  margin-bottom: 5px
}

.admin-connection-status{
  margin-top: 15px;
  margin-right: 30px;
  display: block;
}

.mirror-view-modal-dialog > .modal-dialog{
  width: 90%;
  max-height: 100%;
}


.mirror-view-canvas{
  border-style: solid;
  border-width: 2px;
}
.mirror-view-dialog-body{
  overflow: auto;
  padding: 0;
}
.mirror-view-dialog-header{
  padding-top: 0;
  padding-bottom: 0;
}
.mirror-view-dialog-header-table{
  margin:  0;
}

.disabled-input{
  cursor: auto !important;
  background-color: #ffffff !important;
}