<div class="form-horizontal">
	<h2><small>Swing applications</small>
		<button type="button" class="btn btn-primary btn-sm" ng-click="create()"><span class="glyphicon glyphicon-plus"></span> New</button>
	</h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="app in config.form.applications">
					<div class="input-group">
						<input class="form-control" ng-model="app.name">
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="edit($index)">
								<span class="glyphicon glyphicon-edit"></span> Edit
							</button>
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="" ng-click="delete($index)">Delete</a></li>
							</ul>   		
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-8 edit-app-panel" ng-hide="currentEditApplication==null">
			<div class="edit-app-arrow" ng-style="arrowPos"></div>
			<div ng-include="'partials/settings/edit-form-app.html'"></div>
		</div>
	</div>
</div>